@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-fondo: #F3F5FC;
    --color-primario: #0a3871;
    --color-secundario:#000000;
    --color-texto: #f0f0f0;
    --color-advertencia:#495057;
    --fuente-inter:"Inter", sans-serif;
}


* {
    padding: 0;
    margin: 0;

}


html, body {
    width: 100%;
    height: 100%;
    background: var(--color-fondo);
    box-sizing: border-box;

}


.presentacion__Logo{
    width: 32px;
    height: 48px;
    padding: 1.8%;
}

.presentacion__Contenido{
    justify-content: center;
    display: flex;
    flex-direction:row;
    background-color: var(--color-fondo);
}

.presentacion__TB{
    justify-content: center;
    align-items: center;
    padding: 112px 80px 0px 0px;
}

.indicacion__Minusculas{
    font-family: var(--fuente-inter);
    color: var(--color-advertencia);
}

.indicacion__Seccion{
    display: flex;
    padding: 16px 0px 16px 0px;
    gap: 8px;
}

.container__Botones{
    display: flex;
    gap: 24px;
    padding: 0px 0px 0px 0px;
}

.boton__Encriptar{
    width: 328px;
    height: 67px;
    background-color: var(--color-primario);

    color: var(--color-texto);
    border: 5px solid var(--color-primario);
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
}

.boton__Desencriptar{
    width: 328px;
    height: 67px;
    background-color: var(--color-fondo);


    border: 1px solid var(--color-primario);
    border-radius: 24px;

    color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
}

.boton__Desencriptar:hover{
    background-color: #c7c7c7;
}

.boton__Encriptar:hover{
    background-color: #18304d;;
}

.input__Texto{
    width: 680px;
    height: 680px;
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
    border-radius: 10px;
    font-family: var(--fuente-inter);
    font-size: 2rem;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
}



.presentacion__Encriptado {
    width: 400px;
    height: 944px;
    background-color: white;
    box-shadow: 5px 5px 15px #e2e2e2;
    margin: 40px 40px 40px 0px;
    border-radius: 32px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    padding: 20px;
    position: relative;
    overflow: hidden;
}


.presentacion__Encriptado img {
    display: block;
    max-width: 100%;
    height: auto; 
    margin-top: 250px; 
    align-items: center;
    justify-content: center;
}

.texto__Ningun__Msj strong{
    color: #343A40;
    font-family: var(--fuente-inter);
    font-size: 1.9rem;
    text-align: center;
}


.texto__Ningun__Msj{
    color: #343A40;
    font-family: var(--fuente-inter);
    font-size: 1.6rem;
}

.boton__Copiar {
    width: 328px;
    height: 67px;
    background-color: var(--color-fondo);
    border: 1px solid var(--color-primario);
    border-radius: 24px;
    color: var(--color-primario);
    font-family: var(--fuente-inter);
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
}

.notificacion {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-family: var(--fuente-inter);
}

.notificacion.mostrar {
    opacity: 1;
    visibility: visible;
}


.boton__Copiar:hover{
    background-color: #c7c7c7;
}

.container__Texto_Encriptado {
    font-family: var(--fuente-inter);
    color: var(--color-primario);
    font-size: 2rem;
    text-align: left; 
    word-wrap: break-word;
    width: 100%; 
    white-space: pre-wrap;
    max-height: calc(100% - 80px);
    overflow-y: auto;
    align-self: flex-start; 
    margin-top: 0px; 
}


@media (max-width: 1250px) {

    .presentacion__Contenido {
        width: 100%;
        height: auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .presentacion__TB {
        width: 680px;
        height: auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .indicacion__Seccion {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 16px 0;
        gap: 8px;
        width: 100%; 
    }

    .presentacion__Encriptado img {
        display: none;
    }

    .presentacion__Encriptado {
        width: 680px; 
        height: auto;
        display: flex;
        flex-direction: column; 
        margin: 0px 40px 40px 40px;
        padding: 20px;
        position: relative;
        min-height: 150px;
    }

    .boton__Copiar {
        width: 328px;
        height: 67px;
        background-color: var(--color-fondo);
        border: 1px solid var(--color-primario);
        border-radius: 24px;
        color: var(--color-primario);
        font-family: var(--fuente-inter);
        font-size: 1.5rem; 
    }

    .texto__Ningun__Msj strong {
        padding: 1%;
        color: #343A40;
        font-family: var(--fuente-inter);
        font-size: 1.8rem;
    }

    .texto__Ningun__Msj {
        color: #343A40;
        font-family: var(--fuente-inter);
        font-size: 1.4rem;
        padding: 1%;
    }
}




@media (max-width: 750px){
    .presentacion__Contenido{
        width: 100%;
        max-width: 375px;
        height: auto;
        padding: 5px;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 
    }

    .presentacion__TB{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container__Botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

    .input__Texto{
        width: 100%;
        max-width: 375px;
        height: auto;
        min-height: 200px;
        box-sizing: border-box;
    }
    .presentacion__Encriptado img {
        display: none;
    }
    .presentacion__Encriptado {
        width: 100%;
        max-width: auto;
        height: auto;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-end; 
        padding: 20px;
    }

    .container__Texto_Encriptado {
        width: 100%;
        max-width: 100%;
        text-align: left; 
        align-self: flex-start; 
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .boton__Copiar{
        width: 100%;
        max-width: 328px;
        margin: 20px 0;
    }
}


